@use "../../app/variables" as *;
.introduce {
	background-color: $offWhite;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
	padding-bottom: 260px;
	position: relative;
	img {
		object-fit: cover;
	}
	h3 {
		font-family: var(--font-playfair-display);
		font-weight: 400;
		font-size: 3.5rem;
		line-height: 114.286%;
		margin-bottom: 40px;
		max-width: 630px;
		text-align: center;
		margin-inline: auto;
		@media (max-width: 768px) {
			font-size: 2.4rem;
		}
	}
	p {
		text-align: center;
		margin-top: 40px;
		margin-bottom: 90px;
		max-width: 542px;
		font-size: 1.5rem;
		line-height: 100%;
		color: $azul;
	}
	.swiperContainer {
		max-width: 100vw;
		width: 1280px;
		max-height: 520px;
		position: absolute;
		bottom: 0;
		transform: translateY(50%);
		z-index: 2;
		@media (max-width: 1024px) {
			max-height: 450px;
		}
		@media (max-width: 768px) {
			max-height: 300px;
		}
		@media (max-width: 600px) {
			max-height: 250px;
		}
		.image {
			position: relative;
			width: 1280px;
			height: 520px;
			@media (max-width: 1024px) {
				height: 450px;
				width: 100vw;
			}
			@media (max-width: 768px) {
				height: 300px;
			}
			@media (max-width: 600px) {
				height: 250px;
			}
		}
	}
}
