@use "../../app/variables" as *;
.marquee {
	background-color: $azul;
	.title {
		text-transform: uppercase;
		padding-block: 120px;
		font-family: var(--font-playfair-display);
		font-weight: 400;
		font-size: 10rem;
		letter-spacing: 5px;
		color: $offWhite;
		@media (max-width: 768px) {
			font-size: 4rem;
		}
	}
}
