@use "../../app/variables" as *;
.featured {
	.container {
		position: relative;
		// max-width: 1440px;
		max-width: 100vw;
		width: 100vw;
		display: flex;
		justify-content: center;
		height: 1250px;
		max-height: 100vh;
		@media (max-width: 1440px) {
			height: 1080px;
		}
		@media (max-width: 640px) {
			height: 1600px;
			max-height: initial;
		}
		img {
			object-fit: cover;
		}
		.cards {
			z-index: 2;
			position: relative;
			display: flex;
			padding-inline: 80px;
			padding-block: 212px 200px;
			flex-wrap: wrap;
			gap: 32px 20px;
			justify-content: space-between;
			max-width: 1440px;
			@media (max-width: 1200px) {
				padding-block: 140px 60px;
				justify-content: space-evenly;
			}
			@media (max-width: 768px) {
				padding-inline: 20px;
			}
			@media (max-width: 640px) {
				padding-block: 160px 60px;
			}
			.card {
				border-bottom-left-radius: 12px;
				border-bottom-right-radius: 12px;
				flex: 1 0 100%;
				max-width: 413px;
				background-color: $blanco;
				width: 100%;
				position: relative;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				color: $azul;
				@media (max-width: 1439px) {
					flex: 1 0 calc(33% - 10px);
				}
				@media (max-width: 1200px) {
					flex: 1 0 calc(50% - 10px);
				}
				@media (max-width: 640px) {
					max-width: 441px;
					flex: 1 0 100%;
				}
				svg {
					position: absolute;
					top: -12px;
					max-width: 100%;
					@media (max-width: 768px) {
						transform: translateY(2px);
					}
					@media (max-width: 640px) {
						width: 100%;
						flex: 1 0 100%;
					}
				}
				h3 {
					margin-top: 70px;
					padding-bottom: 28px;
					margin-bottom: 28px;
					position: relative;
					font-family: var(--font-playfair-display);
					font-size: 3.5rem;
					font-weight: 400;
					line-height: 114.286%;
					@media (max-width: 1200px) {
						margin-top: 40px;
						padding-bottom: 10px;
						margin-bottom: 10px;
					}
					@media (max-width: 640px) {
						margin-top: 20px;
						font-size: 2.4rem;
					}
					&::after {
						position: absolute;
						content: "";
						width: 45px;
						max-width: 100%;
						height: 0.75px;
						background-color: $azul;
						bottom: 0;
						left: 50%;
						transform: translateX(-50%);
					}
				}
				p {
					max-width: 328px;
					font-size: 1.4rem;
					font-weight: 700;
					line-height: 121.429%;
					letter-spacing: 2.8px;
					text-transform: uppercase;
					margin-bottom: 39px;
					@media (max-width: 1200px) {
						margin-bottom: 20px;
					}
					@media (max-width: 640px) {
						font-size: 1.2rem;
						letter-spacing: 2.4px;
					}
				}
				a {
					background-color: $azul;
					color: $offWhite;
					padding: 10px 25px;
					font-size: 1.4rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: 2.8px;
					text-transform: uppercase;
					margin-bottom: 58px;
					&::after {
						background-color: rgba(80, 180, 255, 0.2);
					}
					@media (max-width: 640px) {
						margin-bottom: 30px;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
