@use "../../app/variables" as *;
.chef {
	margin-top: 80px;
	margin-bottom: 190px;
	h3 {
		font-family: var(--font-playfair-display);
		font-size: 3.5rem;
		line-height: 114.286%;
		color: $azul;
		padding-bottom: 25px;
		font-weight: 400;
		position: relative;
		text-align: center;
		margin-bottom: 35px;
		@media (max-width: 768px) {
			font-size: 2.4rem;
		}
	}
	video {
		max-width: 1064px;
		max-height: 540px;
		height: 100vh;
		width: 100vw;
	}
}
