@use "../../app/variables" as *;
.container {
	margin-block: 150px 144px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100vw;
	overflow: hidden;
	width: 100%;
	@media (max-width: 1200px) {
		padding-inline: 80px;
		margin-block: 90px;
	}
	@media (max-width: 768px) {
		margin-block: 60px;
		padding-inline: 20px;
	}
	.wrapperTitle {
		max-width: 1430px;
		overflow: visible;
		@media (max-width: 768px) {
			max-width: 640px;
		}
	}
	.title {
		font-family: var(--font-playfair-display);
		font-size: 10rem;
		font-style: normal;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 100%;
		color: $azul;
		@media (max-width: 768px) {
			font-size: 4rem;
		}
	}
	.link {
		color: $offWhite;
		background-color: $azul;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 2.8px;
		text-transform: uppercase;
		text-align: center;
		padding: 10px 25px;
		display: inline-block;
		margin-top: 60px;
		&::after {
			background-color: rgba(80, 180, 255, 0.2);
		}
		@media (max-width: 768px) {
			margin-top: 30px;
		}
	}
}
