@import "../../app/variables";
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: $blanco;
	padding-block: 1.9rem 1.6rem;
	padding-inline: 8rem;
	color: $azul;
	position: relative;
	@media (max-width: 768px) {
		padding-block: 1rem;
		padding-inline: 2rem 0;
	}
}

.logo {
	position: relative;
	width: 100px;
	height: 54px;
	.image {
		object-fit: cover;
	}
}

/* Hamburger visible solo en pantallas pequeñas */
.hamburger {
	display: none;
	background: none;
	border: none;
	color: $azul;
	font-size: 1.5rem;
	display: flex;
	padding: 20px;
	cursor: pointer;
	svg {
		width: 24px;
		height: 24px;
	}
}

/* Estilos base para links */
.navLinks {
	display: flex;
	gap: 6.1rem;
	list-style: none;
}

.navLinks li a,
.navLinks li button {
	color: $azul;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.1rem;
	line-height: 100%;
	letter-spacing: 2.75px;
	text-transform: uppercase;
}

/* Dropdown menu */
.menu {
	position: relative;
}

.menuButton {
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	font-family: inherit;
	display: flex;
	gap: 1.1rem;
	align-items: center;
	transition: color 0.3s ease;
	&:hover {
		color: $gray;
	}
	.containerArrow {
		position: relative;
		width: 9px;
		height: 5px;
		img {
			position: absolute;
			object-fit: scale-down;
			transition: opacity 0.3s ease;
			&:first-child {
				opacity: 1;
			}
			&:last-child {
				opacity: 0;
			}
		}
	}
	&:hover {
		.containerArrow {
			img {
				&:first-child {
					opacity: 0;
				}
				&:last-child {
					opacity: 1;
				}
			}
		}
	}
}

.menuItems {
	background-color: $blanco;
	width: 240px;
	position: absolute;
	top: calc(100% + 17px);
	left: -24px;
	padding-block: 2.5rem 2.7rem;
	padding-left: 2.4rem;
	border-radius: 4px;
	min-width: 150px;
	z-index: 10;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	border: none;
	outline: none;
}

.menuItems a {
	display: block;
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
	&:hover {
		color: $venue;
	}
}

/* Responsive: desde 768px hacia abajo */
@media (max-width: 768px) {
	.logo {
		z-index: 2;
	}
	.hamburger {
		display: block;
		z-index: 2;
	}

	.navLinks {
		flex-direction: column;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 2rem;
		// display: none;
		transform: translateY(-343px);
		transition: transform 0.6s ease;
		z-index: 1;
	}

	.navLinks.open {
		transform: translateY(0);
	}

	.menuItems {
		position: relative;
	}
}
