@import "../../app/variables";
.footer {
	background-color: $azul;
	padding-inline: 188px;
	padding-bottom: 54px;
	color: $blanco;
	.containerBothSides {
		display: flex;
		justify-content: space-between;
	}
	.left {
		max-width: 414px;
		flex: 1;
		figure {
			margin-bottom: 50px;
			max-height: 50px;
		}
		.containerText {
			h3 {
				max-width: 360px;
				font-family: var(--font-playfair-display);
				line-height: 114.286%;
				font-size: 3.5rem;
				margin-bottom: 26px;
				font-weight: 400;
				@media (max-width: 768px) {
					font-size: 2.4rem;
				}
			}
			p {
				color: $offWhite;
				font-size: 1.5rem;
				line-height: normal;
				max-width: 414px;
				margin-bottom: 139px;
			}
		}
	}
	.right {
		max-width: 414px;
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		margin-bottom: 82px;
		.buttonContact {
			align-self: flex-start;
			background-color: $offWhite;
			color: $azul;
			display: inline-block;
			font-size: 1.4rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 2.8px;
			text-transform: uppercase;
			margin-bottom: 55px;
			padding: 10px 25px;
		}
		.containerLinks {
			list-style: none;
			text-transform: uppercase;
			font-size: 1.1rem;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 2.75px;
			.topLinks {
				li {
					padding-bottom: 18px;
					border-bottom: 0.75px solid $offWhite;
					&:first-child {
						margin-bottom: 15px;
					}
					&:last-child {
						margin-bottom: 18px;
					}
				}
			}
			.bottomLinks {
				display: flex;
				justify-content: space-between;
			}
		}
	}
	.copy {
		padding-top: 12px;
		display: block;
		border-top: 0.75px solid $offWhite;
		letter-spacing: 2.75px;
		text-transform: uppercase;
		font-size: 1.1rem;
		line-height: normal;
		font-weight: 600;
	}
}
